.loader{
    margin-top: 20px;
}

.container{
    width: 100%;
}

.thumbnail{
    object-fit: contain;
}

.titleLinkContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.title{
    padding: 20px;
    text-align: center;
}

.description{
    white-space: pre-wrap;
}

.errorContainer{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: darkorange;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.errorIcon{
    font-size: 20px;
    padding: 10px;
}

.wrap{
    display: flex;
    padding: 2%;
    margin: 2%;
    -webkit-box-shadow: 8px 8px 11px -10px #000; 
    box-shadow: 8px 8px 11px -10px #000;
    background-color: #fff;
}


.postBody{
    display: flex;
    flex-direction: row;
}
.postComments{
    display: flex;
    flex-direction: column;
}

.votes{
    padding: 15px;
    text-align: center;
}

.voteNumber{
    font-size: 16px;
    font-weight: bold;
}


.image{
    object-fit: contain;
    width: 100%;
    height: 400px;
}

@media only screen and (max-width: 740px){
    .image{
        height: 50%;
        padding: 0px;
    }
}

.authorContainer{
    margin-top: 10px;
    display: flex;
    border-top: 1px solid #2196f3;
    padding: 5px;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.authorContainer > *{
    padding: 2px;
}

.postBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}
.commentLength{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.commentLength  > *{
    padding: 3px;
}

.postBodyWrapper{
    width: 100%;
}

@media only screen and (max-width: 795px){
    .wrap{
        display: block;
    }
    .votes{
        display: none;
        font-size: 10px;
        padding: 5px;
    }
    .voteNumber{
        font-size: 10px;
    }
    .title{
        padding: 5px;
    }
}