@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 8px 11px -10px #000;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 11px -10px #000; 
  box-shadow: 0 8px 11px -10px #000;
  align-items: flex-start;
}

.navbar > *{
  margin: 2%;
}

@media only screen and (max-width: 500px){
  .navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}